@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Verificando seu login";
}

<h1> Verificando Login </h1>
<label> @ViewBag.Msg</label>